body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
  }

.background-container {
    background-color: black;
    border: none;
}
  
.app {
    text-align: center;
    margin-top: 50px;
  
    h1 {
      font-size: 2rem;
      color: #333;
      margin-bottom: 30px;
    }
}
  